.swap-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #a1dca6;

  h5 {
    margin-bottom: 16px; 
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  label {
    margin-bottom: 4px; 
    font-weight: bold;
    display: block;
  }

  .swap-section {
    margin-bottom: 16px;
  }

  .token-select {
    margin-bottom: 16px;

    label {
      margin-bottom: 4px; 
    }

    .custom-select {
      position: relative;
      width: 100%;
      cursor: pointer;

      .selected {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        min-height: 40px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
      }

      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      .dropdown-icon {
        font-size: 1rem;
        color: #888; 
        position: absolute;
        right: 5px;
      }

      .token-list {
        position: absolute;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid #ccc;
        background-color: white;
        list-style: none;
        padding: 0;
        margin-top: 4px;
        display: none;
        z-index: 1;
      }

      &.error-border .selected {
        border-color: red;
      }

      &:hover .token-list {
        display: block;
      }

      li {
        padding: 8px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  input {
    margin-bottom: 16px;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 40px;
    box-sizing: border-box;
   
    &.error-border {
      border: 1px solid red;
    }
  }
  
  /* Chrome, Safari, Edge, Opera */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

   /* Firefox */
   input[type=number] {
   appearance: none;
   -moz-appearance: textfield;
}

  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px; 

    button {
      flex-grow: 1;
      padding: 12px;
      border-radius: 4px;
      border: 2px solid transparent;
      cursor: pointer;
      transition: background-color 0.3s ease;
      max-width: 45%;

      &.confirm {
        background-color: #4caf50;
        color: white;

        &:hover {
          background-color: #388e3c;
        }
      }

      &.cancel {
        background-color: #6e6e6e;
        color: white;

        &:hover {
          background-color: #505050;
        }
      }
    }
  }

  .result {
    margin-top: 16px;
    padding: 12px;
    background-color: #e0f2e9;
    border: 1px solid #4caf50;
    border-radius: 4px;
    font-weight: bold;
    color: #4caf50;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 

    .amount {
      font-size: 20px; 
      font-weight: bold;
      margin-top: 4px;
    }

    .token {
      margin-top: 4px;
    }
  }

  .error {
    color: red;
    margin-bottom: 16px;
    text-align: center;
  }
}
